
.all-of-the-world {
	padding: 1em;
	border: 1px solid lightblue;
	border-radius: 0.5em;
	color: orange;
}

.test-result {
	header {
		display: flex;
		flex-direction: row;
		> * {
			margin-right: 1em;
		}
	}
}