
.all-of-the-world {
	padding: 1em;
	border: 1px solid lightblue;
	border-radius: 0.5em;
	color: orange;
}

.test-list {
	.test-buttons, .test-results {
		padding: 1em;
		margin-bottom: 1em;
	}

	.test-buttons {
		display: flex;
		flex-direction: column;
		> * {
			margin: 0.5em;
		}
	}

	.test-results {
		min-height: 1em;
		.test-result {
			header {
				display: flex;
				flex-direction: row;
				> * {
					margin-right: 1em;
				}
			}
		}	
	}
}

